<ion-header class="ion-text-center"[translucent]="true">
  <ion-toolbar>
    <ion-title>HoeL - at your disposal</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding"[fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Tabs</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-tabs>
<ion-tab-bar slot="bottom">
<ion-tab-button tab="films">
<ion-icon name="film"></ion-icon>
<ion-label>Films</ion-label>
</ion-tab-button>
<ion-tab-button tab="people">
<ion-icon name="people"></ion-icon>
<ion-label>People</ion-label>
</ion-tab-button>
<ion-tab-button tab="planets">
<ion-icon name="planet"></ion-icon>
<ion-label>Planets</ion-label>
</ion-tab-button>
</ion-tab-bar>
</ion-tabs>
